* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.content {
    margin-bottom: 0;
}

.content__top {
    margin-top: 40px;
    margin-bottom: 84px;
}

.content__central {
    margin-top: 164px;
    margin-bottom: 162px;
}

.content__central__buttons {
    margin-top: 37px;
}

.content__logos {
    margin-top: 97px;
    margin-bottom: 96px;
}